# Flask Configuration
SECRET_KEY=6de6c8bc3fa08c2d65b36b5635270984yh77f2ab5716db079354a0a841087462
FLASK_ENV=development
FLASK_DEBUG=True

# Ollama Configuration
OLLAMA_BASE_URL=https://genai-01.uni-hildesheim.de/ollama
OLLAMA_MODEL=llama3.2:1b
OLLAMA_API_KEY=sk-f8

# OpenAI Configuration
OPENAI_API_KEY=sk-pro